---
import Layout from "../layouts/Layout.astro";
import AcercaDe from "../components/AcercaDe.astro"
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import BriefCase from "../components/icons/BriefCase.astro";
import ProfileCheck from "../components/icons/ProfileCheck.astro";
import Proyectos from "../components/icons/Proyectos.astro";
import Projects from "../components/Projects.astro";
import Hero from "../components/Hero.astro";
import TecnologiasIcon from "../components/icons/Tecnologies.astro";
import TecnologiasContainer from "../components/TecnologiasContainer.astro";
import Blandas from "../components/Blandas.astro";
import Front from "../components/Front.astro";
import Data from "../components/Datab.astro";
import Back from "../components/Back.astro";
---

<Layout 
title="Portfolio de Julian - Desarrollador y Programador Web"
description="Contrata a Julian"
>
  <main class="px-4">
    <SectionContainer class="py-28 md:pt-32">
      <Hero>
        </slot>
      </Hero>
    </SectionContainer>

    <SectionContainer class="mb-24" id="habilidades">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <TecnologiasIcon class="size-7" />
        Habilidades
      </h2>
      <TecnologiasContainer />
    </SectionContainer>

      <SectionContainer class="mb-24" id="experiencia">
        <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
          <BriefCase class="size-7" />
          Experiencia laboral
        </h2>
        <Experience />
      </SectionContainer>

      <SectionContainer id="proyectos">
        <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
          <Proyectos class="size-7" />
          Proyectos
        </h2>
        <Projects />
      </SectionContainer>

      <SectionContainer class="mt-10" id="sobre-mi">
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
        >
          <ProfileCheck class="size-8" />
        <span class="text-white">Acerca de mi</span>
        </h2>
        <AcercaDe />
      </SectionContainer>

  </main>
</Layout>
