<article class="flex flex-col items-center justify-center gap-8 text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 text-pretty order-2 md:order-1 text-left"
  >
    <p>
        ¡Hola! Soy Julian, un apasionado de 28 años, adentrándome en la programación, con un fuerte interés en el desarrollo web, especialmente en el front-end. Me encanta enfrentar desafíos y aprender de ellos. 
    <p>
        Estoy comprometido con el aprendizaje continuo y mantenerme al día con las últimas tecnologías. Estoy emocionado por las oportunidades que la programación ofrece y ansioso por contribuir con mi creatividad y pasión en proyectos futuros. 
    </p>
    <p>
        ¡Gracias por tu interés en conocerme y espero colaborar contigo pronto!
    </p>
  </div>

  <img width="200" height="200" src="/photo/Yo.webp" alt="" class="order-1 object-cover w-64 h-full p-1 md:order-2 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 ring-1 ring-black/70" style="object-position: 50% 50%">

</article>