---
import JavaIcon from "./icons/Java.astro"
---

<div class="w-52 border-2 border-indigo-400 h-48">
    <h2 class="font-bold text-xl font-20 text-indigo-600">Back-End</h2>    
    <ul class="flex flex-row justify-center">
        <JavaIcon class="size-9 none"/>
    </ul>
</div>