<div class="w-52 border-2 border-indigo-400 gap-2 h-48">
    <h2 class="font-bold text-xl font-20 text-indigo-600">Soft-skills</h2>    
    <ul class="md:text-xs/6 italic text-sm/3 md:py-0 py-1 ">
        <li class="pb-3 md:pb-1">Comunicación efectiva</li>
        <li class="pb-3 md:pb-1">Trabajo en equipo</li>
        <li class="pb-3 md:pb-1">Resolución de problemas</li>
        <li class="pb-3 md:pb-1">Pensamiento crítico</li>
        <li class="pb-3 md:pb-1">Flexibilidad y adaptabilidad</li>
        <li>Curiosidad y sed de aprendizaje</li>
    </ul>
</div>