---
import MySqlIcon from "./icons/Mysql.astro"
---

<div class="w-52 border-2 border-indigo-400 gap-2 h-48">
    <h2 class="font-bold text-xl font-20 text-indigo-600">Database</h2>    
    <ul class="flex flex-row justify-center">
        <MySqlIcon class="size-9"/>
    </ul>
</div>