---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
    {
        title:'Empleado comercial | Autoservicio Rivadavia',
        date:'Enero 2021 - Actualidad',
        description:'Mis tareas se basan en la atencion al cliente, el control de inventario, la gestion de equipos, trato con proveedores y apertura/cierre de caja',
    },
    {
        title:'Taller industrial | Cuoco',
        date:'Diciembre 2017 - Diciembre 2020',
        description:'Creacion y formacion desde cero de picos de reposteria',
    },
    {
        title:'Locutor - Control de Sonido | FM Sol',
        date:'Septiembre 2017 - Noviembre 2017',
        description:'Programa radial donde ejercia el rol de locutor y de sonidista.',
    }
]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3.5">   
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>

