---
import Blandas from "../components/Blandas.astro";
import Front from "../components/Front.astro";
import Data from "../components/Datab.astro";
import Back from "../components/Back.astro";
---
    <div class="flex flex-row gap-10 text-center justify-center mb-6">
        <Blandas  />
        <Front />
        <Data />
        <Back />
    </div>